$clr-primary: #0f0f0f;
$clr-secondary: #fff;
$clr-accent: #0099cc;
$clr-grey: #272727;
$clr-light: #f9f9f9;
$clr-red: red;

$ff: "Open Sans", sans-serif;

$fs-300: 0.875rem;
$fs-400: 1rem;
$fs-500: 1.75rem;

$fw-regular: 400;
$fw-bold: 700;